<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Новый человек</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="person_fio">Вверите ФИО: </label>
    <input type="text" th:field="*{person_fio}" id="person_fio"/>
    <div  style="color:red" th:if="${#fields.hasErrors('person_fio')}" th:errors="*{person_fio}">Fio error:</div>
    <br/>
    <label for="person_year">Введите год рождения: </label>
    <input type="text" th:field="*{person_year}" id="person_year"/>
    <div  style="color:red" th:if="${#fields.hasErrors('person_year')}" th:errors="*{person_year}">Year error:</div>
    <br/>
    <button th:type="submit">Добавить человека</button>
</form>
</body>